html {
scroll-behavior: smooth;
}

.card-hover {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.22);
}

.card-hover img {
  transition: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFF0);
}
